<layout name='layout1'/>
<link type="text/css" href="__PUBLIC__/css/index_new.css" rel="stylesheet">
<!--<link type="text/css" href="__PUBLIC__/css/index.css" rel="stylesheet">-->
<!--所有内容区--开始-->
<div id="content_fu">
    <!--banner的轮番图-->
    <div id="item1" class="banner item">
        <div id="slidershow" class="carousel slide" data-ride="carousel">
            <!-- 设置图片轮播的顺序 -->
            <ol class="carousel-indicators">
                <li class="active" data-target="#slidershow" data-slide-to="0"></li>
                <li data-target="#slidershow" data-slide-to="1"></li>
                <li data-target="#slidershow" data-slide-to="2"></li>
                <li data-target="#slidershow" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active"><a href="https://fushangyangche.tmall.com/index.htm?spm=a1z10.3-b.w5002-11851669398.2.0S6NiO" target="_blank"><img class="height_banner" src="__PUBLIC__/images/index_new/banner_01.jpg" alt="天猫旗舰店" width="100%" /></a></div>
                <div class="item "><a href="/carservice"><img src="__PUBLIC__/images/banner6.jpg" alt="携车网APP" width="100%"/></a></div>
                <div class="item "><a href="http://uber.avosapps.com/sh.html?utm_source=dops&utm_campaign=referral_xieche|drivers|Shanghai|country-37|city-96"><img src="__PUBLIC__/images/banner8.jpg" alt="uber上海车主招募" width="100%"/></a></div>
                <div class="item"><a href="/case"><img src="__PUBLIC__/images/banner2.png" alt="府上养车" width="100%"/></a></div>
            </div>
            <!-- Controls -->
            <!--<div class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                 <span id="lefticon"></span>
            </div>-->
             <!--<div class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span id="righticon"></span>
            </div>-->
        </div>
    </div>

    <!--保养区域-->
    <div id="item2" class="item">
        <!--保养内容介绍-->
        <div class="contents">
            <div class="bangyang">
                <div class="title_bangyang">
                    <h2>保养</h2>

                    <p>携车网▪府上养车</p>

                    <div class="line_bottom"></div>
                </div>
                <div class="fl">
                    <img src="__PUBLIC__/images/index_new/baoyang_new2.jpg"/>
                    <!-- <p><a href="#"><u>查看评论</u></a></p> -->
                </div>
                <div class="fl left_ma">
                    <h2>车到哪 保养就到哪</h2>

                    <p class="english"> CHEAPER\EASIER</p>

                    <div class="line_bottom2"></div>
                    <p>在上海，您很累，我们知道。 为生存 为家人 为梦想，你用辛苦的一步步</p>

                    <p>把成功的距离丈量,你本该陪伴家人 却走在陌生城市的出差路上;</p>

                    <p>......</p>

                    <p class="button_detail"><a href="/carservice" onclick="checkCar('/carservice');return false;">查看详情</a></p>
                </div>
                <div class="clearf"></div>
            </div>
        </div>
        <!--保养内容下单购买-->
        <div class="more_by">
            <div class="content_more">
                <div class="title_more"><img src="__PUBLIC__/images/index_new/more_title.jpg"/></div>
                <div class="more_postion">
                    <div class="tu fl tu_by">
                        <div class="tu1 tus" ><img src="__PUBLIC__/images/index_new/piaofu_order.png" /></div>
                    </div>

                    <div class="tu fl left_more">
                        <div class="tu1 tus2" ><img src="__PUBLIC__/images/index_new/piaofu_shop.png" /></div>
                    </div>

                    <div class="tu fl left_more_by">
                        <div class="tu1 tus4" ><img src="__PUBLIC__/images/index_new/piaofu_coupon.png" /></div>
                    </div>
                    <div class="clearf"></div>
                    <div class="tu3 tus circle1" ><a href="/carservice" onclick="checkCar('/carservice');return false;"><img src="__PUBLIC__/images/index_new/circle_button11.png"/></a></div>
                    <div class="tu3 tus2 circle2" ><a href="/shopservice/index"><img src="__PUBLIC__/images/index_new/circle_button3.png"/></a></div>
                    <div class="tu3 tus4 circle3" ><a href="/coupon"><img src="__PUBLIC__/images/index_new/circle_button2.png"/></a></div>

                   <!-- <div class="fl"><img src="__PUBLIC__/images/index_new/more_by1.png"/></div>
                    <div class="fl left_more"><img src="__PUBLIC__/images/index_new/more_by2.jpg"/></div>
                    <div class="fl left_more"><img src="__PUBLIC__/images/index_new/more_by3.jpg"/></div>
                    <div class="clearf"></div>
                    <div class="circle1"><a href="/carservice" onclick="checkCar('/carservice');return false;"><img src="__PUBLIC__/images/index_new/circle_button1.png"/></a></div>
                    <div class="circle2"><a href="/shopservice/index"><img src="__PUBLIC__/images/index_new/circle_button3.png"/></a></div>
                    <div class="circle3"><a href="/coupon"><img src="__PUBLIC__/images/index_new/circle_button2.png"/></a></div>-->
                </div>
            </div>
        </div>
    </div>
    <!--维修区域-->
    <div id="item3" class="item">
        <!--维修流程-->
        <div class="bangyang">
            <div class="title_bangyang">
                <h2>维修</h2>

                <p>给您维修的最优方案</p>
            </div>
            <div class="indentlf">
                <div class="fl">
                    <img src="__PUBLIC__/images/index_new/dingshun_new.jpg"/>

                    <div class="remark_weixiu">报案及定损</div>
                </div>
                <div class="fl jllf">
                    <img src="__PUBLIC__/images/index_new/yuyue_new.jpg"/>

                    <div class="remark_weixiu">预约4s店</div>
                </div>
                <div class="fl jllf">
                    <img src="__PUBLIC__/images/index_new/weixiu_new.jpg"/>

                    <div class="remark_weixiu">查看维修情况</div>
                </div>
                <div class="fl jllf">
                    <img src="__PUBLIC__/images/index_new/fanli_new.jpg"/>

                    <div class="remark_weixiu">获得维修返利</div>
                </div>
                <div class="clearf"></div>
            </div>
        </div>
        <!--维修下单-->
        <div class="more_by more_by2">
            <div class="content_more2">
                <div class="title_more"><img src="__PUBLIC__/images/index_new/more_title.jpg"/></div>
                <!-- <div class="bystop"><b></b><span><img src="__PUBLIC__/images/index/xmore.png" alt=""></span><b></b></div>-->
                <div class="more_postion">
                    <div class="fl"><img src="__PUBLIC__/images/index_new/guzhang_01.jpg"/></div>
                    <div class="fl left_more2"><img src="__PUBLIC__/images/index_new/guzhang_02.jpg"/></div>
                    <div class="clearf"></div>
                    <div class="circle4"><a href="/shiguche/order" onclick="checkCar('shiguche/order');return false;"><img
                            src="__PUBLIC__/images/index_new/order_button1.png"/></a></div>
                    <div class="circle5"><a href="/shiguche/repair_order"
                                            onclick="checkCar('shiguche/repair_order');return false;"><img
                            src="__PUBLIC__/images/index_new/order_button1.png"/></a></div>
                </div>
            </div>
        </div>
        <!--维修下单优惠券-->
        <div class="coupon_content">
            <div class="title_coupon"><img src="__PUBLIC__/images/index_new/title_coupon.jpg"/></div>
            <div style="width:960px;margin:0 auto;">
                <ul>
                    <volist name="list" id="voc">
                        <li class="fl">
                            <div class="coupon_detail">
                                <div class="size_img"><img src="{:C('UPLOAD_ROOT')}/Coupon/Logo/{$voc.coupon_logo}" alt=""/></div>
                                <!--<div class="xianjinquandestop">&nbsp;</div>-->
                                <div class="coupon_des">
                                    <h6><a href="/coupon/detail/id/{$voc.id}.html" title="{$voc.coupon_name}">{$voc.coupon_name|mb_substr=0,13}</a>
                                    </h6>

                                    <div class="line3"></div>
                                    <div class="font_price"  width="50%" align="center"><span
                                            style="font-size:30px;">￥</span><b>{$voc.coupon_amount|substr=0,-3}</b></div>
                                    <div class=pa_but><a href="/coupon/detail/id/{$voc.id}.html"><img
                                            src="__PUBLIC__/images/index_new/look_button.jpg"></a></div>
                                </div>
                            </div>
                        </li>
                    </volist>
                    <div class="clearf"></div>
                </ul>
            </div>
        </div>
    </div>
    <!--提问区域-->
    <div id="item4" class="item">
        <!--提问-->
        <div class="more_by">
            <div class="title_bangyang">
                <h2>提问</h2>

                <p>我们懂车 车的问题就来问我</p>
            </div>
            <div class="content_more">
                <div class="ask">
                    <div class="asktip">
                        <h3>FAQ谢师傅问答</h3>

                        <p>由谢师傅为代表的百家4S店专业师傅在线为您解答爱车的种种疑问</p>
                        <a href="/ask">进入专题</a>
                    </div>
                </div>
            </div>
            <div class="askimg">
                <img src="__PUBLIC__/images/askimg1.jpg" width="190" alt="">
            </div>
            <!--   <div class="askimg">
                 <img src="__PUBLIC__/images/askimg2.jpg" width="190" alt="">
               </div>
               <div class="askimg">
                 <img src="__PUBLIC__/images/askimg3.jpg" width="190" alt="">
               </div>-->
        </div>
        <!--媒体报道 -->
        <div class="ask3">
            <div class="title_bangyang">
                <h2>媒体报道</h2>
                <!-- <p>我们懂车 车的问题就来问我</p>-->
            </div>
            <div class="baodao_content">
                <div class="fl"><img src="__PUBLIC__/images/tc_ico.jpg" id="img"><img src="__PUBLIC__/images/index_new/chenbao_logo.jpg"/></div>
                <div class="fl line_baodao"></div>
                <div class="fl top_baodao"><img src="__PUBLIC__/images/tc_ico.jpg" id="img"><img src="__PUBLIC__/images/index_new/ihm_logo.png"/></div>
                <div class="fl line_baodao"></div>
                <div class="fl top_baodao2"><img src="__PUBLIC__/images/tc_ico.jpg" id="img"><img src="__PUBLIC__/images/index_new/shanghai_logo.png"/></div>
                <div class="fl line_baodao"></div>
                <div class="fl last_baodao top_baodao3"><img src="__PUBLIC__/images/tc_ico.jpg" id="img"><img src="__PUBLIC__/images/index_new/eastmoney_logo.png"/></div>
                <div class="clearf"></div>
            </div>
        </div>
    </div>
</div>

<include file="Public:rightMenu"/>

<script type="text/javascript">
    $(document).ready(function () {
        $("body").css("marginRight","0px");
		$(".coupon_content li:last").css("paddingRight","0px");
		
		$(window).scroll(function () {
            var items = $("#content_fu").find(".item");
            var menu = $("#menu_f");
            var top = $(document).scrollTop();
            var currentId = ""; //滚动条现在所在位置的item id
            items.each(function () {
                var m = $(this);
                //注意：m.offset().top代表每一个item的顶部位置
                if (top > m.offset().top - 300) {
                    currentId = "#" + m.attr("id");
                } else {
                    return false;
                }
                if( top ==0){
                    currentId = "#item1";
                }
            });

            var currentLink = menu.find(".line2");
            if (currentId && currentLink.attr("id") != currentId) {
                currentLink.removeClass("line2");
                menu.find("[id=" + currentId + "]").addClass("line2");
            }

        });
         　$(".tus").mouseover(function(){
           // $(".tus").css("top","166px");
            //$(".circle1").css("top","-236px");
			$(".tus").stop().animate({"top":"166px"});
			$(".circle1").stop().animate({"top":"-236px"});

        　});
        　　$(".tus").mouseleave(function(){
            //$(".tus").css("top","200px");
            //$(".circle1").css("top","-202px");
			$(".tus").stop().animate({"top":"200px"});
			$(".circle1").stop().animate({"top":"-202px"});
        　});

        　$(".tus2").mouseover(function(){
            //$(".tus2").css("top","166px");
            //$(".circle2").css("top","-320px");
			$(".tus2").stop().animate({"top":"166px"});
			$(".circle2").stop().animate({"top":"-320px"});

        　});
        　　$(".tus2").mouseleave(function(){
            //$(".tus2").css("top","200px");
            //$(".circle2").css("top","-285px");
			$(".tus2").stop().animate({"top":"200px"});
			$(".circle2").stop().animate({"top":"-285px"});
        　});

        　$(".tus4").mouseover(function(){
            //$(".tus4").css("top","166px");
            //$(".circle3").css("top","-400px");
			$(".tus4").stop().animate({"top":"166px"});
			$(".circle3").stop().animate({"top":"-400px"});

        　});
        　　$(".tus4").mouseleave(function(){
            //$(".tus4").css("top","200px");
            //$(".circle3").css("top","-368px");
			$(".tus4").stop().animate({"top":"200px"});
			$(".circle3").stop().animate({"top":"-368px"});
        　});
		
		
		$(".sgcpath ul li").mouseover(function () {
			$(".sgcpath ul li:animated").dequeue();
			$(this).animate({"width": "952px"}, 600);
			$(this).siblings().animate({"width": "77px"}, 600);
		});
	
		$(".sgclc2 p span").click(function () {
			$(".sgcpath ul li").eq($(this).index()).click();
		});
    });
</script>