<layout name='layout' />
<link type="text/css" href="__PUBLIC__/css/index.css" rel="stylesheet">
<div class="banner">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active"><a><img src="__PUBLIC__/images/banner5.jpg" alt="苏州-杭州府上养车上线" width="100%"/></a></div>
          <div class="item"><a href="/carservice"><img src="__PUBLIC__/images/banner1.jpg" alt="携车网" width="100%"/></a></div>
          <div class="item"><a href="/case"><img src="__PUBLIC__/images/banner2.jpg" alt="府上养车" width="100%"/></a></div>
        </div>

        <!-- Controls -->
        <div class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span id="lefticon"></span>
        </div>
        <div class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span id="righticon"></span>
        </div>
      </div>
    </div>
    
    <div class="warper" style="background-image:url(/Public_new/images/index/bg2.png);">
      <div class="w1183">
        <div class="baoyang">
          <div class="byc">
<!--             <ul>
              <li style="padding-top:30px;">
                <p><a href="/carservice" class="xgbiaoti"><span>养车</span> <strong style="font-size:20px;">携车网———府上养车</strong></a></p>
                <p>车在哪 保养就到哪</p>
                <p>为你节约出一点点坐下来的时光</p>
              </li>
              <li>
                <p><b>在</b>上海  你很累  我们知道   为生存  为家人  为梦想</p>
                <p>你用辛苦的一步步把成功的距离丈量</p>
                <p>你本该陪伴家人  却走在陌生城市的出差路上</p>
                <p>你本该已酣然入眠  却在深夜打卡机上按下寂静的一响</p>
                <p>被轻视  想放弃   曾迷茫  曾慌张</p>
                <p>唯有梦想可以让你保持嚣张</p>
              </li>
              <li>
                <p><b></b>这个城市这么大  却没有人能够借你肩膀</p>
                <p>这个城市这么大  却没有人能懂你的假装</p>
                <p>前行路上不需要假装   你很忙  我们知道</p>
                <p>我们想为你分担一点点  让你在前行路上</p>
                <p>节约出一点点 坐下来的时光</p>
              </li>
            </ul> -->
            <img src="__PUBLIC__/images/index/xby.png" alt=""/>
          </div>
          <div class="by2">
            <img src="__PUBLIC__/images/index/byimg2.jpg" class="by2img">
            <ul>
              <li>
                <h3>携车网府上养车</h3>
                <h4>推荐套餐：小保养<span>￥284</span></h4>
                <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
                <p><img src="__PUBLIC__/images/index/fsycimg01.jpg" alt=""></p>
                <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
                <p><a href="/carservice" onclick="checkCar('/carservice');return false;">我要下单</a></p>
              </li>
            </ul>
          </div>
        </div>
        <style type="text/css">
        .by2 .by2img{float: left;}
        .by2 ul{float: right; height: 477px; background: #f5f5f5;}
        .by2 ul li{margin: 0 25px; text-align: center;}
        .by2 ul li h3{letter-spacing: 3px; margin: 30px 0;}
        .by2 ul li h4 {letter-spacing: 1px;}
        .by2 ul li h4 span {
            color: #ff4a00;
        }
        .by2 ul li p a {
            background: none repeat scroll 0 0 #000000;
            color: #ffffff;
            display: inline-block;
            font-size: 18px;
            height: 45px;
            letter-spacing: 1px;
            line-height: 45px;
            margin-bottom: 30px;
            width: 225px;
        }
        .by2 ul li p a:hover {
            text-decoration: none;
        }
        </style>
        

        <div class="ask2">
          <div class="ask2top">
            <div class="fl">
             <!--  <p><a href="/ask" class="xgbiaoti"><span class="wxspan1">提问</span></a></p>
              <p>我们懂车</p>
              <p>车的问题就来问我</p>
            </div>
            <div class="fr">
              <p><span class="wxspan2"></span>我们懂车</p>
              <p>油门下的每一次燃烧</p>
              <p>方向盘下的每一次转动</p>
              <p>仪表盘下每一根电线</p>
            </div>
            <div class="fr">
              <p><span class="wxspan2"></span>你我都爱车</p>
              <p>你着迷驾乘的无限乐趣</p>
              <p>我们沉迷机械的复杂美感</p>
            </div>
            <div class="fr">
              <p><span class="wxspan2">有</span>人爱油门的快感</p>
              <p>有人享受方向盘上每一个转弯</p>
              <p>有人觉得仪表盘亮得璀璨</p>
              <p>也有人在乎避震的每一丝硬软</p> -->
              <img src="__PUBLIC__/images/index/xask2.png" alt="">
            </div>
          </div>
        </div>
        
        <div class="ask">
          <div class="asktip">
            <h3>FAQ谢师傅问答</h3>
            <p>由谢师傅为代表的百家4S店专业师傅在线为您解答爱车的种种疑问</p>
            <a href="/ask">进入专题</a>
          </div>
          <div class="askimg">
            <img src="__PUBLIC__/images/askimg1.jpg" width="190" alt="">
            <img src="__PUBLIC__/images/askimg2.jpg" width="190" alt="">
            <img src="__PUBLIC__/images/askimg3.jpg" width="190" alt="">
          </div>
        </div>


      </div>
    </div>
<include file="Public:rightMenu"/>;

    <script type="text/javascript">
      $(".sgcpath ul li").mouseover(function(){
        $(".sgcpath ul li:animated").dequeue();
        $(this).animate({"width":"952px"},600);
        $(this).siblings().animate({"width":"77px"},600);
      });

      $(".sgclc2 p span").click(function(){
        $(".sgcpath ul li").eq($(this).index()).click();
      });
    </script>