<layout name='layout' />
<link type="text/css" href="__PUBLIC__/css/index.css" rel="stylesheet">
<div class="banner">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
		
		  <div class="item active"><a href="/mobilecar-carservice_ccbbank_pc"><img src="__PUBLIC__/images/banner6.jpg" alt="建设银行优惠活动" width="100%"/></a></div>
          <div class="item"><a><img src="__PUBLIC__/images/banner5.jpg" alt="苏州-杭州府上养车上线" width="100%"/></a></div>
          <div class="item"><a href="/carservice"><img src="__PUBLIC__/images/banner1.jpg" alt="携车网" width="100%"/></a></div>
          <div class="item"><a href="/case"><img src="__PUBLIC__/images/banner2.jpg" alt="府上养车" width="100%"/></a></div>
        </div>

        <!-- Controls -->
        <div class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span id="lefticon"></span>
        </div>
        <div class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span id="righticon"></span>
        </div>
      </div>
    </div>
    
    <div class="warper">
      <div class="w1183">
        <div class="baoyang">
          <div class="byc">
<!--             <ul>
              <li style="padding-top:30px;">
                <p><a href="/carservice" class="xgbiaoti"><span>养车</span> <strong style="font-size:20px;">携车网———府上养车</strong></a></p>
                <p>车在哪 保养就到哪</p>
                <p>为你节约出一点点坐下来的时光</p>
              </li>
              <li>
                <p><b>在</b>上海  你很累  我们知道   为生存  为家人  为梦想</p>
                <p>你用辛苦的一步步把成功的距离丈量</p>
                <p>你本该陪伴家人  却走在陌生城市的出差路上</p>
                <p>你本该已酣然入眠  却在深夜打卡机上按下寂静的一响</p>
                <p>被轻视  想放弃   曾迷茫  曾慌张</p>
                <p>唯有梦想可以让你保持嚣张</p>
              </li>
              <li>
                <p><b></b>这个城市这么大  却没有人能够借你肩膀</p>
                <p>这个城市这么大  却没有人能懂你的假装</p>
                <p>前行路上不需要假装   你很忙  我们知道</p>
                <p>我们想为你分担一点点  让你在前行路上</p>
                <p>节约出一点点 坐下来的时光</p>
              </li>
            </ul> -->
            <img src="__PUBLIC__/images/index/xby.png" alt=""/>
          </div>
          <img src="__PUBLIC__/images/index/byimg.jpg" alt="">
        </div>
        
        <div class="byservice">
          <div class="bystop"><b></b><span><img src="__PUBLIC__/images/index/xmore.png" alt=""></span><b></b></div>
          <ul>
            <li>
              <h3>携车网府上养车</h3>
              <h4>推荐套餐：小保养<span>￥284</span></h4>
              <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
              <p><img src="__PUBLIC__/images/index/fsycimg01.jpg" alt=""></p>
              <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
              <p><a href="/carservice" onclick="checkCar('/carservice');return false;">我要下单</a></p>
            </li>
            <li>
              <h3>4S店预约保养</h3>
              <h4>低至<span>￥845</span></h4>
              <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
              <p><img src="__PUBLIC__/images/index/4sbyimg01.jpg" alt=""></p>
              <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
              <p><a href="/shopservice/index">更多店铺</a></p>
            </li>
            <li>
              <h3>团购保养</h3>
              <h4>低至<span>￥322</span></h4>
              <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
              <p><img src="__PUBLIC__/images/index/couponimg.png" alt=""></p>
              <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
              <p><a href="/coupon">更多团购券</a></p>
            </li>
          </ul>
        </div>


        <div class="weixiu">
          <div class="wxtop">
            <div class="fl">
              <!-- <p><a href="/shiguche" class="xgbiaoti"><span class="wxspan1">修车</span></a></p>
              <p>给您维修的最优方案</p>
              <p>行车注意安全！</p>
            </div>
            <div class="fr"> -->
             <!--  <p><span class="wxspan2">路</span>遥车骋，您一直在路上，不一定都会是坦途，但或许，这才正是该有的精彩！</p>
              <p>路起伏，车磕碰，在所难免，知道您会火，理解您的烦，没关系，交给我们，给您维修的最优方案。</p>
              <p>停一会，不着急，精彩不会迟到！</p>
              <p>只想嘱咐您一句：行车注意安全！</p> -->
              <img src="__PUBLIC__/images/index/xwx.png" alt="">
            </div>
          </div>
        </div>

        <div class="shiguche">
          <h3>事故车维修流程</h3>
          <div class="sgcpath">
            <ul>
              <li style="background-image:url(__PUBLIC__/images/sgcimg1.jpg); width:952px; border-left:none;">
                <!-- <div class="sgclccon">
                  <div class="liucheng1">
                    <div class="lctitle">1.报案并定损</div>
                    <div class="lccon">
                      <div class="lcdown fl">
                        <p><img src="__PUBLIC__/images/index/downico.png" alt="" /></p>
                        <p>手机下载<span>携车网APP</span></p>
                        <p>提交定损信息</p>
                        <p>发布事故车信息</p>
                      </div>
                      <div class="lcdown fr">
                        <p><img src="__PUBLIC__/images/index/downico.png" alt="" /></p>
                        <p>致电<span>400-660-2822</span></p>
                        <p>告诉客服事故信息，</p>
                        <p>交由携车客服帮您处理，</p>
                        <p>省心省时。</p>
                      </div>
                    </div>
                  </div>
                </div> -->
              </li>
              <li style="background-image:url(__PUBLIC__/images/sgcimg2.jpg);">
                <!-- <div class="sgclccon">
                  <div class="liucheng2">
                    <div class="lctitle fl">2.预约4S店</div>
                    <div class="lc2img fr">
                      <p>开始挑选店铺</p>
                      <p><img src="__PUBLIC__/images/index/lc2img1.jpg" alt="" /></p>
                      <p>店铺预约</p>
                      <p><img src="__PUBLIC__/images/index/lc2img2.jpg" alt="" /></p>
                    </div>
                  </div>
                </div> -->
              </li>
              <li style="background-image:url(__PUBLIC__/images/sgcimg3.jpg);">
                <!-- <div class="sgclccon">
                  <div class="liucheng3">
                    <div class="lc3 fl">
                      <div class="lctitle">3.查看维修情况</div>
                      <p>查看订单</p>
                      <p><img src="__PUBLIC__/images/index/lc3img.jpg" alt="" /></p>
                      <p>爱车状态清晰明了……</p>
                    </div>

                    <div class="lc3 fr">
                      <p><img src="__PUBLIC__/images/index/lc3img1.png" alt="" /></p>
                    </div>
                  </div>
                </div> -->
              </li>
              <li style="background-image:url(__PUBLIC__/images/sgcimg4.jpg);">
                <!-- <div class="sgclccon">
                  <div class="liucheng4">
                    <div class="lctitle">4.维修得返利</div>
                    <p>返利以<span>现金券</span>形式存入您的携车网账户，下次维修保养的时候，通过携车网预约，到相应的4S店作现金抵用。<br />（本现金券不兑现不找零，无限额折后抵用）</p>
                    <div class="fllc">
                      <p><span>如何获得返利？</span></p>
                      <dl>
                        <dd>
                          <p class="f30">①</p>
                          <p>接到维修完毕通知</p>
                        </dd>
                        <dd>
                          <p class="f30">②</p>
                          <p>前往提车</p>
                        </dd>
                        <dd>
                          <p class="f30">③</p>
                          <p>查看维修情况</p>
                        </dd>
                        <dd>
                          <p class="f30">④</p>
                          <p>确认维修完毕</p>
                        </dd>
                        <dd>
                          <p class="f30">⑤</p>
                          <p>获取返利</p>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div> -->
              </li>
            </ul>
          </div>
          <a href="/shiguche">进入专题</a>
        </div>
        
        <div class="weixiuorder">
          <div class="gzservice">
            <div class="gzstop"><b></b><span><img src="__PUBLIC__/images/index/xsgcorder.png" alt=""></span><b></b></div>
            <ul>
              <li>
                <h3>事故车维修下单</h3>
                <h4>联系我们：400-660-2822</h4>
                <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
                <p><img src="__PUBLIC__/images/index/sgcwximg.png" alt=""></p>
                <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
                <p><a href="/shiguche/order" onclick="checkCar('shiguche/order');return false;">进入下单</a></p>
              </li>
              <li>
                <h3>故障维修下单</h3>
                <h4>联系我们：400-660-2822</h4>
                <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
                <p><img src="__PUBLIC__/images/index/gzwximg.png" alt=""></p>
                <p><img src="__PUBLIC__/images/index/bysline.jpg" alt=""></p>
                <p><a href="/shiguche/repair_order" onclick="checkCar('shiguche/repair_order');return false;">进入下单</a></p>
              </li>
            </ul>
          </div>
          <div class="xianjinquan">
            <div class="gzstop"><b></b><span><img src="__PUBLIC__/images/index/xxj.png" alt=""></span><b></b></div>
            <ul>
                <volist name="list" id="voc">
                <li>
                  <div class="xianjinquancon">
                    <h6><a href="/coupon/detail/id/{$voc.id}.html" title="{$voc.coupon_name}">{$voc.coupon_name|mb_substr=0,13}</a></h6>
                    <p><img src="{:C('UPLOAD_ROOT')}/Coupon/Logo/{$voc.coupon_logo}" alt=""></p>
                  
                    <div class="xianjinquandes">
                      <div class="xianjinquandestop">&nbsp;</div>
                      <div class="xianjinquandescon">
                        <table class="xianjinquandescon1" width="100%">
                          <tbody>
                            <tr height="10"></tr>
                            <tr height="50">
                              <td style="border-right:1px dashed #FFFFFF; font-size:28px;" width="50%" align="center"><span style="font-size:20px;">￥</span><b>{$voc.coupon_amount|substr=0,-3}</b></td>
                              <td align="center" class="xianjinstyle">现金券</td>
                            </tr>
                            <tr height="10"></tr>
                          </tbody>
                        </table>
                        <p>支持“15天内退款”、“过期退款”</p>
                        <a href="/coupon/detail/id/{$voc.id}.html">查&nbsp;&nbsp;看</a>
                      </div>
                    </div>
                  </div>
                </li>
                </volist>
            </ul>
          </div>
        </div>

        <div class="ask2">
          <div class="ask2top">
            <div class="fl">
             <!--  <p><a href="/ask" class="xgbiaoti"><span class="wxspan1">提问</span></a></p>
              <p>我们懂车</p>
              <p>车的问题就来问我</p>
            </div>
            <div class="fr">
              <p><span class="wxspan2"></span>我们懂车</p>
              <p>油门下的每一次燃烧</p>
              <p>方向盘下的每一次转动</p>
              <p>仪表盘下每一根电线</p>
            </div>
            <div class="fr">
              <p><span class="wxspan2"></span>你我都爱车</p>
              <p>你着迷驾乘的无限乐趣</p>
              <p>我们沉迷机械的复杂美感</p>
            </div>
            <div class="fr">
              <p><span class="wxspan2">有</span>人爱油门的快感</p>
              <p>有人享受方向盘上每一个转弯</p>
              <p>有人觉得仪表盘亮得璀璨</p>
              <p>也有人在乎避震的每一丝硬软</p> -->
              <img src="__PUBLIC__/images/index/xask.png" alt="">
            </div>
          </div>
        </div>
        
        <div class="ask">
          <div class="asktip">
            <h3>FAQ谢师傅问答</h3>
            <p>由谢师傅为代表的百家4S店专业师傅在线为您解答爱车的种种疑问</p>
            <a href="/ask">进入专题</a>
          </div>
          <div class="askimg">
            <img src="__PUBLIC__/images/askimg1.jpg" width="190" alt="">
            <img src="__PUBLIC__/images/askimg2.jpg" width="190" alt="">
            <img src="__PUBLIC__/images/askimg3.jpg" width="190" alt="">
          </div>
        </div>


      </div>
    </div>
<include file="Public:rightMenu"/>;

    <script type="text/javascript">
      $(".sgcpath ul li").mouseover(function(){
        $(".sgcpath ul li:animated").dequeue();
        $(this).animate({"width":"952px"},600);
        $(this).siblings().animate({"width":"77px"},600);
      });

      $(".sgclc2 p span").click(function(){
        $(".sgcpath ul li").eq($(this).index()).click();
      });
    </script>