<ul class="menu">
			<li>
				<label><img src="__PUBLIC__/images/home/1.gif" /></label>
				<span <eq name="tp" value="index">class="current"</eq>><a href="/myhome/">个人中心</a></span>
			</li>
			<li>
				<label><img src="__PUBLIC__/images/home/1_1.gif" /></label>
				<span <eq name="tp" value="checkreport">class="current"</eq>><a href="#">检测报告</a></span>
			</li>
			<li>
				<label><img src="__PUBLIC__/images/home/1_6.gif" /></label>
				<span>我的订单</span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="all_order">class="current"</eq>><a href="/myhome/all_order">全部订单</a></span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="carservice_order">class="current"</eq>><a href="/myhome/carservice_order">保养订单</a></span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="shiguche_order">class="current"</eq>><a href="/myhome/shiguche_order">维修订单</a></span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="coupon_order">class="current"</eq>><a href="/myhome/coupon_order">团购订单</a></span>
			</li>
			<li>
				<label><img src="__PUBLIC__/images/home/1_2.gif" /></label>
				<span>我的钱包</span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="my_salecoupon">class="current"</eq>><a href="/myhome/my_salecoupon">我的抵用券</a></span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="mycoupon">class="current"</eq>><a href="/myhome/my_coupon">我的团购券</a></span>
			</li>
			<li>
				<label><img src="__PUBLIC__/images/home/1_3.gif" /></label>
				<span <eq name="tp" value="my_comment">class="current"</eq>><a href="/myhome/my_comment">我的评价</a></span>
			</li>
			<li>
				<label><img src="__PUBLIC__/images/home/1_4.gif" /></label>
				<span>账户设置</span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="myinfo">class="current"</eq>><a href="/myhome/myinfo">我的信息</a></span>
			</li>
			<li class="sub">
				<label>&nbsp;</label>
				<span <eq name="tp" value="my_safe">class="current"</eq>><a href="/myhome/my_safe">账户安全</a></span>
			</li>
		</ul>