*{font-family: "微软雅黑","Microsoft Yahei","宋体",sans-serif;}
a{text-decoration: none;}
.title{ font-size: 18px; padding: 10px 0px; border-bottom: 4px solid #eeeeee; margin-bottom: 10px;}
.title div{font-size: 24px; font-weight: bold;}
.clear{clear:  both;}


#float-banner{position:fixed ; width: 100%; height: 400px; bottom: 0px; background: rgba(0,0,0,0.7); z-index: 10;}
#inner-banner{width: 1200px; height: 400px; margin: 0 auto; overflow: visible; position: relative;background: url("http://event.xieche.com.cn/20140606/images/float_bg.png") center center no-repeat;}
#close-banner{display: block; width: 60px; height: 60px; position: absolute; top: 0px; right: 0px; }

#block1{width: 100%; height: 350px; margin-top: 20px }
#inner-block-1{width: 1200px; height: 320px; position: relative; margin: 0 auto;}
#inner-wrapper{width: 530px; height: 320px; background: white; float: right}
.service{width: 530px; height: 300px;  font-size: 14px;position: relative; overflow: hidden; float: left;}
.service .tabs{display: block;width: 540px ;height: 75px;line-height: 60; }
.service .tabs li{display: block; width: 170px;background: #e0e0e0; height: 40; line-height: 40px; margin-right: 6px; float: left; text-align: center;z-index: 1; cursor: pointer; color: #101010;}
.service .tabs li.current {height: 50px; background: #ff6600; color: white; background: url("http://statics.xieche.net/new_pa/images/h.png") center 0px no-repeat;}
.service .con{ background: white; width: 610px; height: 225px; }
.search{ display: block; width: 620px; height: 225px; }
.search ul{display: block; width: 610px; height: 210px; overflow: hidden;}
.search li{ display: block; width: 610px; height: 40px; line-height: 40px; font-size: 16px;  margin-bottom: 15px;  } 
.search li label{width: 85px; height: 40px;}
.search li label, .search li select{float: left; display: block; font-size: 16px;}
.search li select{padding: .5em .6em; }
.car_series,
.car_model{width: 166px; }
.car_series{margin-right: 20px;}
.con select{ height: 38px; line-height: 38px; background: white; border: 1px solid #cdcdcd; border-radius: 0px; font-size: 16px;}
.search .submit{width: 363px; height: 40px; }
.search .input-text{ padding: 0px 0px 0px 10px; font-size: 15px; width:358px; height: 38px; line-height: 38px; background: white; border: 1px solid #cdcdcd;}
.search .submit-btn{width: 120px; height: 40px;  line-height: 40px; background: #ff6600; text-align: center; cursor: pointer; color: white; font-size: 18px; border: 0px;}

.brand-filter{width: 640px; height: 40px; line-height: 40px; overflow: hidden;}
.brand-filter .title{float: left; font-size: 16px; height: 30px; line-height: 30px; display: inline-block; width: 55px; padding: 0px; border: 0px;}
.brand-filter ul{float: left;width: 505px; height: 30px; line-height: 30px; overflow: hidden}
.brand-filter ul li{float: left; font-size: 14px; margin-right: 5px; font-size: 16px;height: 30px; padding: 0px 5px; line-height: 30px; cursor: pointer; }
.brand-filter ul li.current{background: #ff6600; color: white;}
.brand-filter ul li a{color: black;}
.brand-filter ul li a:visited{color: black;}
.brand-filter ul li a:hover{color: black;}
.brand-filter ul li.current a{background: #ff6600; color: white;}
.brand-filter ul li.current a:visited{color: white;}
.brand-filter ul li.current a:hover{color: white;}
.brand-filter .more{display: inline-block; float: left; width: 60px; height: 30px; line-height: 30px; font-size: 14px; color: #ff6600;text-decoration: none;}
.brand-filter .more:visited{ color: #ff5500; }
.brand-filter .more:hover{text-decoration: underline;}
.brand-sale{width: 630px;}
.brand-sale ul{display: block; width: 620px; height: 155px;}
.brand-sale ul .single-con{width: 250px; height: 70px; display: inline; float: left; margin: 15px 15px 10px 0px;}
.single-con a{width: 100%; height: 100%; }
.single-con img{display: block; float: left; width: 86px; height: 64px; color: black}
.single-con .desc{width: 150px; height: 65px; float: right; position: relative;}
.single-con .desc h4{font-size: 14px; height: 40px; line-height: 19px; color: black; overflow: hidden; margin-bottom: 2px;}
.single-con .desc div{position: absolute; bottom: 0px;}
.single-con .desc div strong{font-size: 18px; color: #ff6600;}
.single-con .desc div span{font-size: 12px; color: #737373; text-decoration: line-through;}
.banner{width: 300px; height: 266px; float: right;}

/*select helper style*/
.selectize-control{float: left; }
.selectize-dropdown-content{max-height: 110px;}

/* focus */
#focus{width:300px;height: 234px;overflow:hidden;position:relative;float:right;margin:0 auto; margin-right: -10px;}
#focus ul{height:380px;position:absolute;}
#focus ul li{float:left;width:300px;height:266px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btnBg{position:absolute;width:300px;height:20px;left:0;bottom:0;background:#000;}
#focus .btn{position:absolute;width:300px;height:15px;padding:5px 10px;right:0;bottom:0;text-align:right;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
#focus .btn span.on{background:#fff;}

#block2{width: 100%; height: 305px; background: url("http://event.xieche.net/20140606/images/bg02.jpg") center 50px no-repeat;}
#inner-block2{width: 1200px; height: 305px; margin: 0 auto; position: relative;}

#block3{width: 100%; height: 958px; }
#inner-block3{width: 1200px; height: 848px; overflow: hidden; margin: 0 auto;}
.coupon-ul{}
.coupon-ul li{display: block; width: 358px; height: 404px; border: 1px solid #e7e7e7; padding: 20px; float: left; overflow: hidden;}
.coupon-name a{font-size: 22px; padding: 10px 0px; letter-spacing: 0px; height: 40px ; color: black; display: block; line-height: 20px; }
.coupon-name a:visited{color: black;}
.coupon-name a:hover{color: #3f77b8}

.coupon-img {overflow: hidden; width: 360px; height: 270px}
.coupon-img a img{display: block;width: 360px; height: 270px}
.cuupon-address{padding: 5px 0px; font-size: 18px;}
.cuupon-address a{margin-left: 5px; color: #175bbc}
.cuupon-address a:visited{margin-left: 5px; color: #175bbc}
.cuupon-address a:hover{text-decoration: underline;}

.coupon-price{width: 358px; height: 45px; padding: 10px 0px; position: relative; line-height: 65px;}
.coupon-price strong{font-size: 26px; font-weight: bold; color: #e60012;}
.coupon-price em{font-size: 15px; color: #999; text-decoration: line-through; margin-left: 10px;}
.coupon-price .coupon-bought{position: absolute; right: 0px; top: 13px;}


#block-4{ width: 100%; height: 390px;} 
#inner-block-4{width: 1200px; height: 390px; overflow: hidden; margin: 0 auto;}
.event-ul{ width: 1240px;}
.event-ul li{display: block; float: left; margin-right: 20px; width: 590px; height: 300px;}
.event-ul li a img{display: block; width: 590px; height: 300px;}



#block5{width: 100%; height: 760px; }
#inner-block-5{ width: 1200px; height: 760px; margin: 0 auto; overflow: hidden; }
.shop-ul{}
.shop-li{ width: 558px; height: 180px; float: left; padding: 20px; border: 1px solid #e7e7e7;}
.shop-li .shop-info{float: left; width: 330px; height: 180px;}
.shop-li .shop-info .shop-name{height: 40px}
.shop-li .shop-info .shop-name a{font-size: 22px; color: #545454; padding: 10px 0px; height: 20px; display: block; font-weight: bolder;}
.shop-li .shop-info .shop-name a:visited{color: #545454;}
.shop-li .shop-info .shop-name a:hover{text-decoration: underline;}

.shop-li .shop-info .shop-rating{ }

.shop-li .shop-info .shop-sale{font-size: 18px;}
.shop-li .shop-info .shop-sale span{font-size: 24px; font-weight: bold; color: #ff8332; }

.shop-rating{  padding: 10px 0px; display: inline-block; font-size: 18px; }
.shop-rating strong{font-size: 24px; font-weight: bold; color: #ff8332; font-style: italic;}
.shop-rating span.rating-img{display: inline-block; width: 75px; height: 14px; margin-top: 4px; padding: 0; margin-right: 10px;}
.shop-rating span.rating-0{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -167px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-1{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -150px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-2{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -134px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-3{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -118px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-4{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -101px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-5{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -84px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-6{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -68px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-7{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -51px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-8{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -34px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-9{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px -17px no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}
.shop-rating span.rating-10{background: url("http://statics.xieche.net/new_2/images/shop-rating.png") 0px 0px  no-repeat;display: inline-block; width: 75px; height: 14px; margin-top: 4px;}



.shop-li .shop-info .shop-address,
.shop-li .shop-info .shop-comment,
.shop-li .shop-info .shop-sale {padding: 5px 0px; font-size: 18px; color: #777777;}
.shop-li .shop-info .shop-address a{margin-left: 5px; color: #175bbc}
.shop-li .shop-info .shop-address a:visited{margin-left: 5px; color: #175bbc}
.shop-li .shop-info .shop-address a:hover{text-decoration: underline;}
.shop-li .shop-img{float: right; width: 227px; height: 180px;}

.shop-li .shop-info .shop-comment a{margin-left: 5px; color: #175bbc}
.shop-li .shop-info .shop-comment a:visited{margin-left: 5px; color: #175bbc}
.shop-li .shop-info .shop-comment a:hover{text-decoration: underline;}
