<layout name='layout_ask' />

<link type="text/css" href="__PUBLIC__/css/ask.css" rel="stylesheet">
    <div class="askbanner">
      <div class="w1183">
        <div class="asktitle">
          <h1>FAQ谢师傅问答</h1>
          <p>由谢师傅为代表的百家4S店专业师傅<br />在线为您解答爱车的种种疑问</p>
          <img src="__PUBLIC__/images/ask/thrbz.png" alt="" usemap="#Map" border="0">
          <map name="Map" id="Map">
            <area shape="circle" coords="429,64,61" href="#maodian3" />
            <area shape="circle" coords="245,64,61" href="#maodian2" />
            <area shape="circle" coords="64,64,61" href="#maodian1" />
          </map>
        </div>
      </div>
    </div>

    <div class="ask2">
      <div class="c2">
        <div class="ask2con" style="position:relative;height:1414px; overflow:hidden;">
          <a name="maodian1" style="position:absolute;height:10px;top:-113px;left:0;z-index:2;"></a>
          <a name="maodian2" style="position:absolute;height:10px;top:338px;left:0;z-index:2;"></a>
          <a name="maodian3" style="position:absolute;height:10px;top:850px;left:0;z-index:2;"></a>
          <img src="__PUBLIC__/images/ask/ask2img.png" alt="">
        </div>
      </div>
    </div>

    <div class="ask3">
        <div class="w1183">       
          <div class="ask3con">
            <img src="__PUBLIC__/images/ask/weixinimg.png" alt="">
          </div>
        </div>
    </div>
<include file="Public:rightMenu"/>