/*car4s page css*/

.car4s_detail{overflow: hidden;background: #fbfaf8;}

.car4sd1{overflow: hidden;}

.car4sdimg{width: 480px;}
.car4sddes{width: 680px;}
.car4sddes h3{font-size: 22px; letter-spacing: 1px; margin: 5px 0 30px;}

.showimg{overflow: hidden;}

.showbox{overflow: hidden; margin-top: 20px;}

.showbox li{overflow: hidden;}

.pingjia{
	font-size: 16px;
	margin: 0 0 18px 0;
}

.pingjia span{
	color: #ff4a00;
}

.pingjia u{
	font-size: 16px;
}

.pingjia2{
	margin: 0 0 18px 0;
	height: 20px;
	line-height: 20px;
}

.pingjia2 span{
	float: left;
}

.pingjia2 span.line{
	height: 12px;
	background: #000;
	margin-top: 4px;
	line-height: 12px;
	width: 90px;
}

.pingjia2 span.line i{
	display: inline-block;
	background: #ff4a00;
}



.dianhua{font-size: 16px; margin: 0 0 18px 0;}
.dizhi{font-size: 16px; margin: 0 0 18px 0;}
.description{font-size: 16px; margin: 0 0 18px 0; line-height: 31px;}

.sheshi{
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 16px;
	margin: 0;
}

.sheshi span{
	display: inline-block;
	background: url(../images/car4s_detail/sheshi.png) 0 -5px no-repeat;
	text-indent: 28px;
	height: 26px;
	margin-right: 15px;

}

.sheshi span.span1{background-position: 0 -5px;}
.sheshi span.span2{background-position: 0 -60px;}
.sheshi span.span3{background-position: 0 -114px;}
.sheshi span.span4{background-position: 0 -169px;}

.oneyh{
	overflow: hidden;
	margin-bottom: 15px;
}

.oneyh h4{
	margin: 30px 0 20px;
}

.oneyh table span{
	color: #ff4a00;
}

.car4sd2{overflow: hidden;}
.car4sd2 .yhqcon{overflow: hidden;}
.car4sd2 .yhqcon li{display: inline-block; width: 20%; overflow: hidden;}
.car4sd2 .yhqcon li a{display: block; width: 236px; height: 94px; background: url(../images/car4s_detail/buyquan.jpg) 0 0 no-repeat; padding: 10px 8px; overflow: hidden;}


.weixinjd{
	overflow: hidden;
	margin-bottom: 15px;
}

.weixinjd h4{
	text-indent: 10px;
	margin: 40px 0 20px;
}

.weixinjd div{
	text-align: center;
}

.weixinjd p{
	height: 30px;
	line-height: 30px;
}


.allpingjia{overflow: hidden;}

.allpingjia h4{
	margin: 40px 0 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #bfbfbf;
	text-indent: 10px;
}

.allpingjialine{
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	margin-bottom: 30px;
	padding-left: 10px;
}

.pingjiastar{
	font-size: 22px;
	color: #FF4A00;
}

.pingjiafen{
	margin-left: 100px;
	overflow: hidden;
}

.pingjiafen span{
	float: left;
}

.pingjiafen span.line{
	height: 12px;
	background: #000;
	margin-top: 10px;
	line-height: 12px;
	width: 90px;
}

.pingjiafen span.line i{
	display: inline-block;
	background: #ff4a00;
}

.pingjiacon{overflow: hidden;}

.pingjianav{height: 80px; width: 100%; overflow: hidden; line-height: 80px; background: #edeae5;}
.pingjianav a{display: inline-block; width: 200px; text-align: center;}
.pingjianav a:hover{background: #FFFFFF;}
.pingjianav a.current{background: #FFFFFF;}

.pingjialist{width: 100%;}

.pingjialist ul{ overflow: hidden; background-color: #FFFFFF;}

.pingjialist ul li{margin-top: 30px; overflow: hidden;}

.headpic{width: 100px; height: 100px; max-width: 100px;}

.pingjiades{overflow: hidden; padding: 0 20px; text-indent: 10px;}

.pingjiades .pingjiauser{height: 30px; padding: 5px 0; background: #f7f7f7; width: 100%; overflow: hidden;}
.pingjiades .pingjiauser .pingjianame{width: 200px;}
.pingjiades .pingjiauser .userpingfen{}


.pingjiausercon{font-size: 16px; line-height: 4em;}

.pingjiades .pingjiauserxm{color: #505050; height: 20px;}


