     <!--Footer-->
        <div id="footer0904">
<div class="footer_about">
<ul class="about">
    <li class="first"><a target="_blank" href="__APP__/article/article4">关于我们</a></li>
    <li><a target="_blank" href="__APP__/article/article16">联系我们</a></li>
    <li><a target="_blank" href="__APP__/article/article16">服务协议</a></li>
    <li class="last"><a target="_blank" href="__APP__/article/article9">如何预约维修保养</a></li>
</ul>
</div>

<div class="footer_text">
<p>Copyright © 2012 WWW.XIECHE.NET 纵横携车网 版权所有</p>
</div>
		<div style="text-align: center;color: #000000;padding-top:5px;"><a href="http://www.miibeian.gov.cn/" target="_blank"><font color="">沪ICP备12017241号</font></a>&nbsp;&nbsp;<SCRIPT LANGUAGE="JavaScript" >
			document.writeln("<a href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20121109104613460' target='_blank'><img src='/Public/note/images/icon.gif' border=0 ></a>")</SCRIPT>&nbsp;
			<!-- baidu -->
			<script type="text/javascript">
			var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F25bc1468b91be39c26580a917bfbf673' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<!-- endbaidu -->
		</div>
<!-- <div class="icpbox"> 
<a class="net110" target="_blank" href="http://www.miibeian.gov.cn/"><span>沪ICP备12017241号</span></a>
</div> -->
</div>
</body>
</html>