@charset "utf-8";

@import url("common.css");


/* body div design */

/*==========index==========*/



/*====================== header ======================*/

#header
{
	margin:0 auto;
	width:100%;
	height:129px;
	background:url(../images/topbg.jpg) repeat-x center top #DAF0FB;
}
	
	#header .wrapbox
	{
		background:url(../images/headbg.jpg) no-repeat center 0;
	}
	/*==========logo==========*/
	#header .logo
	{
		float:left;
		width:212px;
		height:57px;
		display:inline;
		margin:5px auto auto auto;
	} 


	/*==========login==========*/
	#header .logindiv
	{
		margin:0 auto;
		width:980px;
		text-align:right;
		color:#FFFFFF;
		height:22px;
		line-height:22px;
		display:block;
	}
	#header .logindiv a
	{ 
	color:#FFFFFF; margin-right:20px;
	}
	
	#header .logindiv a:hover
	{ 
	color: #FFCC00;
	}
			
			
			
/*====================== menu ======================*/

.mainMenu ul.nav
	{
		float:right;
		width:666px;
		margin:35px 0 0 0;height:54px;
	}.mainMenu ul.nav li
	{
		float:left;
		width:112px;
		height:54px;
		display:inline;
		margin-right:10px;
	}.mainMenu ul.nav li a
	{
		font-size:14px; color:#FFFFFF; font-weight:bold;
		font-family:"微软雅黑";
				width:112px;
		height:54px;
		text-align:center;
		display:block;
		line-height:54px;
		
	}
	.mainMenu ul.nav li a:hover
	{
	text-decoration:none;background:url(../images/indexnav.jpg) no-repeat 0 0;
	}
	.mainMenu ul.nav li.act a
	{
background:url(../images/indexnav.jpg) no-repeat 0 0;
	}


/*====================== body ======================*/
.bodybgwrap
	{
	background:url(../images/bodybg.jpg) no-repeat center 0;
	margin:-14px auto 0;
	width:100%;
	height: auto;
	min-height:500px;
	}
.userbox
	{margin:0 auto 0;
	width:958px;
	border:1px solid #F18E16;
	height: auto;
	background:url(../images/sidebarbg.jpg) repeat-y 0 0;
	}

.userbox .sidebar
	{
	width:200px;
	float:left;
	display:inline;
	margin-bottom:140px;
	}
.userbox .sidebar ul.Menu
	{
	width:186px; 
	margin:10px 0 0 14px;
	}
	.userbox .sidebar ul.Menu li
	{
		margin-bottom:7px;
	}
	.userbox .sidebar ul.Menu li a
	{
	width:186px;
	height:72px;
	background:url(../images/sibarbut.jpg) no-repeat 0 0;
	display:block; cursor:pointer;
	}
	.userbox .sidebar ul.Menu li a img
	{
		float: left; margin:15px 6px auto 10px;
	}
	.userbox .sidebar ul.Menu li a .f16
	{
		color:#B0660B; margin:14px 0 4px 0;display:block;
	}
		.userbox .sidebar ul.Menu li a .f6
	{
		display:block;
	}



	.userbox .sidebar ul.Menu li.act a
	{
	width:186px;
	height:72px;
	background:url(../images/sibarbutact.jpg) no-repeat 0 0;
	display:block;
	}
	.userbox .sidebar ul.Menu li.act a img
	{
		float: left; margin:15px 6px auto 10px;
	}
	.userbox .sidebar ul.Menu li.act a .f16
	{
		color:#000; margin:14px 0 4px 0;display:block;
	}
		.userbox .sidebar ul.Menu li.act a .f6
	{
		display:block; color:#543205;
	}

	.userbox .sidebar ul.Menu li a:hover
	{
	width:186px;
	height:72px;
	background:url(../images/sibarbutact.jpg) no-repeat 0 0; text-decoration:none; 
	display:block;
	}
	.userbox .sidebar ul.Menu li a:hover img
	{
		float: left; margin:15px 6px auto 10px;
	}
	.userbox .sidebar ul.Menu li a:hover .f16
	{
		color:#000; margin:14px 0 4px 0;display:block;
	}
		.userbox .sidebar ul.Menu li a:hover .f6
	{
		display:block; color:#543205;
	}



.userbox .usercontent
	{
	width:700px;
	float:left;
	display:inline;
	margin:16px 0 0 32px;
	padding:0 0 40px;
	}

	.userbox .usercontent ul.jznavbut 
	{
		margin:30px auto;
	}	
.userbox .usercontent ul.jznavbut li
	{
	width:175px; height:62px; float:left; display:inline; margin:0 40px 30px 0;
	}	
		
.userbox .usercontent ul.jznavbut li.but01 a,
.userbox .usercontent ul.jznavbut li.but02 a,
.userbox .usercontent ul.jznavbut li.but03 a,
.userbox .usercontent ul.jznavbut li.but04 a,
.userbox .usercontent ul.jznavbut li.but05 a,
.userbox .usercontent ul.jznavbut li.but06 a,
.userbox .usercontent ul.jznavbut li.but07 a,
.userbox .usercontent ul.jznavbut li.but08 a,
.userbox .usercontent ul.jznavbut li.but09 a,
.userbox .usercontent ul.jznavbut li.but10 a,
.userbox .usercontent ul.jznavbut li.but11 a
	{
	background:url(../images/jznavbut.jpg) no-repeat 0  0; width:175px; height:62px; display:block;
	}	


.userbox .usercontent ul.jznavbut li.but02 a{background-position:-215px 0;}	
.userbox .usercontent ul.jznavbut li.but03 a{background-position:-430px 0;}	
.userbox .usercontent ul.jznavbut li.but04 a{background-position:0px -92px;}	
.userbox .usercontent ul.jznavbut li.but05 a{background-position:-215px -92px;}	
.userbox .usercontent ul.jznavbut li.but06 a{background-position:-430px -92px;}	
.userbox .usercontent ul.jznavbut li.but07 a{background-position:0px -185px;}	
.userbox .usercontent ul.jznavbut li.but08 a{background-position:-215px -185px;}	
.userbox .usercontent ul.jznavbut li.but09 a{background-position:-430px -185px;}	
.userbox .usercontent ul.jznavbut li.but10 a{background-position:0px -275px;}	
.userbox .usercontent ul.jznavbut li.but11 a{background-position:-215px -275px;}	


.userbox .usercontent ul.jznavbut li.but01 a:hover,
.userbox .usercontent ul.jznavbut li.but02 a:hover,
.userbox .usercontent ul.jznavbut li.but03 a:hover,
.userbox .usercontent ul.jznavbut li.but04 a:hover,
.userbox .usercontent ul.jznavbut li.but05 a:hover,
.userbox .usercontent ul.jznavbut li.but06 a:hover,
.userbox .usercontent ul.jznavbut li.but07 a:hover,
.userbox .usercontent ul.jznavbut li.but08 a:hover,
.userbox .usercontent ul.jznavbut li.but09 a:hover,
.userbox .usercontent ul.jznavbut li.but10 a:hover,
.userbox .usercontent ul.jznavbut li.but11 a:hover
	{
	background:url(../images/jznavbutn.jpg) no-repeat 0  0; width:175px; height:62px; display:block;
	}	


.userbox .usercontent ul.jznavbut li.but02 a:hover{background-position:-215px 0;}	
.userbox .usercontent ul.jznavbut li.but03 a:hover{background-position:-430px 0;}	
.userbox .usercontent ul.jznavbut li.but04 a:hover{background-position:0px -92px;}	
.userbox .usercontent ul.jznavbut li.but05 a:hover{background-position:-215px -92px;}	
.userbox .usercontent ul.jznavbut li.but06 a:hover{background-position:-430px -92px;}	
.userbox .usercontent ul.jznavbut li.but07 a:hover{background-position:0px -185px;}	
.userbox .usercontent ul.jznavbut li.but08 a:hover{background-position:-215px -185px;}	
.userbox .usercontent ul.jznavbut li.but09 a:hover{background-position:-430px -185px;}	
.userbox .usercontent ul.jznavbut li.but10 a:hover{background-position:0px -275px;}	
.userbox .usercontent ul.jznavbut li.but11 a:hover{background-position:-215px -275px;}
	
	
.userfootbg	
	{margin:0 auto 0;
	width:960px;
	height: 36px;
	background:url(../images/userfootbg.jpg) no-repeat 0 0;
	}
	
	


/*====================== 记账内页 ======================*/
.userbox .usercontent .userjzbar01,
.userbox .usercontent .userjzbar02,
.userbox .usercontent .userjzbar03,
.userbox .usercontent .userjzbar04,
.userbox .usercontent .userjzbar05,
.userbox .usercontent .userjzbar06,
.userbox .usercontent .userjzbar07,
.userbox .usercontent .userjzbar08,
.userbox .usercontent .userjzbar09,
.userbox .usercontent .userjzbar10,
.userbox .usercontent .userjzbar11,
.userbox .usercontent .userjzbar12,
.userbox .usercontent .userjzbar13{background:url(../images/userjzbar.jpg) no-repeat 0  0; width:700px; height:90px; display:block; margin:10px 0 ;}


.userbox .usercontent .userjzbar02{background-position:0 -90px;}
.userbox .usercontent .userjzbar03{background-position:0 -180px;}
.userbox .usercontent .userjzbar04{background-position:0 -270px;}
.userbox .usercontent .userjzbar05{background-position:0 -360px;}
.userbox .usercontent .userjzbar06{background-position:0 -450px;}
.userbox .usercontent .userjzbar07{background-position:0 -540px;}
.userbox .usercontent .userjzbar08{background-position:0 -630px;}
.userbox .usercontent .userjzbar09{background-position:0 -720px;}
.userbox .usercontent .userjzbar10{background-position:0 -810px;}
.userbox .usercontent .userjzbar11{background-position:0 -900px;}
.userbox .usercontent .userjzbar12{background-position:0 -990px;}
.userbox .usercontent .userjzbar13{background-position:0 -1080px;}

.userbox .usercontent table.Editorbox{ width:700px; margin:auto; }
.userbox .usercontent table.Editorbox tr{background:url(../images/dian01.gif) repeat-x 0   bottom; }
.userbox .usercontent table.Editorbox tr.none{  background: none; }
.userbox .usercontent table.Editorbox td{ padding:20px 0; }
.userbox .usercontent table.Editorbox td.pad01{ padding:0px 0!important; }
.userbox .usercontent table.Editorbox td.pad02{ padding:10px 0!important; }
.userbox .usercontent table.Editorbox td.tdtop{ vertical-align:top; padding-top:25px;}
.userbox .usercontent table.Editorbox td.tdright{text-align:right; padding-right:10px; }
.userbox .usercontent table.Editorbox tr .w1{width:60px;}
.userbox .usercontent table.Editorbox tr .w2{width:150px;}
.userbox .usercontent table.Editorbox tr .w3{width:70px!important;}
.userbox .usercontent table.Editorbox tr .w4{ width:480px!important;}
.userbox .usercontent table.Editorbox tr .w5{ width:400px!important;}
.userbox .usercontent table.Editorbox td select{ height:20px; width:130px; border:#ccc solid 1px; line-height:16px; font-size:12px; }
.userbox .usercontent table.Editorbox td input.inp01{ border:#919191 solid 1px; border-bottom:1px solid #BAB7B7; border-right:1px solid #BAB7B7; width:120px; height:20px; line-height:20px; padding:0px 5px; background:url(../images/buttons.gif) repeat-x 0  -99px #fff; vertical-align: middle; }

.userbox .usercontent table.Editorbox td textarea{ border:#BAB7B7 solid 1px; width:480px; height:60px; line-height:20px; padding:0px 5px;}

.userbox .usercontent table.Editorbox td a.Selecttime{background:url(../images/ico.gif) no-repeat -4px  -101px; width:14px; height:14px; float:left; margin:3px 0 0 5px;}
.userbox .usercontent table.Editorbox td a.user_Close{background:url(../images/ico.gif) no-repeat -4px  -150px; width:9px; height:13px; float:left; margin:3px 0 0 5px;}
.userbox .usercontent table.Editorbox td a.user_Open{background:url(../images/ico.gif) no-repeat -4px  -200px; width:9px; height:13px; float:left; margin:3px 0 0 5px;}
.userbox .usercontent table.Editorbox td a.AddItem{background:url(../images/ico.gif) no-repeat -4px  -250px; width:30px;height:17px;  line-height:17px; float: right; margin:3px 0 0 5px; padding-left:15px;}
.userbox .usercontent table.Editorbox td a.AddItem:hover{ color:#47801D; text-decoration:none;}
.userbox .usercontent table.Editorbox td a.DelItem{background:url(../images/ico.gif) no-repeat -4px  -300px; width:14px; height:14px; float: right; margin:10px 15px 0 5px;}


.userbox .usercontent table.Editorbox  table.AddItem { border:1px dashed #F18E16; background-color:#FFF4EE; width:520px; margin:10px 0 0;}
.userbox .usercontent table.Editorbox  table.AddItem td {padding:5px 0 15px 15px!important; text-align: left ;}
.userbox .usercontent table.Editorbox tr td.w2{width:160px;}

/*====================== 按钮 ======================*/

.userbox .usercontent  a.addcarbut {background:url(../images/buttons1.gif) no-repeat -13px  -9px; width:128px; height:27px; float: left; margin:0px 15px 0 0;}
.userbox .usercontent  a.addcarbut:hover {background:url(../images/buttons1.gif) no-repeat -13px  -45px; }
.userbox .usercontent  a.Notebut {background:url(../images/buttons1.gif) no-repeat -158px  -9px; width:69px; height:25px; float: right; margin:0px 5px 0 0px;}
.userbox .usercontent  a.Notebut:hover {background:url(../images/buttons1.gif) no-repeat -158px  -45px; }
.userbox .usercontent  a.editbut {background:url(../images/buttons1.gif) no-repeat -240px  -9px; width:43px; height:24px; float: left; margin:0px 5px 0 0;}
.userbox .usercontent  a.editbut:hover {background:url(../images/buttons1.gif) no-repeat -240px  -45px}
.userbox .usercontent  a.Delbut {background:url(../images/buttons1.gif) no-repeat -299px  -9px; width:43px; height:24px; float: left; margin:0px 5px 0 0px;}
.userbox .usercontent  a.Delbut:hover {background:url(../images/buttons1.gif) no-repeat -299px  -45px}
.userbox .usercontent  a.retbut {background:url(../images/buttons1.gif) no-repeat -355px  -9px; width:80px; height:22px; float: left; margin:0px 5px 0 0px;}
.userbox .usercontent  a.retbut:hover {background:url(../images/buttons1.gif) no-repeat -355px  -45px}
.userbox .usercontent  a.Serbut {background:url(../images/buttons1.gif) no-repeat -13px  -80px; width:128px; height:27px; float: left; margin:0px 5px 0 0px;}
.userbox .usercontent  a.Serbut:hover {background:url(../images/buttons1.gif) no-repeat -13px  -110px}

.userbox .usercontent  a.ckanbut {background:url(../images/buttons1.gif) no-repeat -275px  -84px; width:43px; height:24px; float: left; margin:0px 5px 0 0px;}
.userbox .usercontent  a.ckanbut:hover {background:url(../images/buttons1.gif) no-repeat -275px  -115px}



/*====================== 油耗明细 ======================*/



.userbox .usercontent  p.ht01{ display:block; height:35px;}
.userbox .usercontent  .Consumebox .Consumelistbg1{ width:698px; border:1px solid #478B38; background-color:#AFC966; height:1px; font-size:0; line-height:0; margin:0 0 1px;}
.userbox .usercontent  .Consumebox table.Consumelisttitle{ width:700px; border:1px solid #D9D9D9; border-right:none;  line-height:33px;background:url(../images/titlebg01.jpg) repeat-x 0 0; margin:0 0 1px;}
.userbox .usercontent  .Consumebox table.Consumelisttitle td{ font-size:14px; font-weight:bold; padding-left:14px; text-align:left; border-right:1px solid #D9D9D9;width:122px;}
.userbox .usercontent  .Consumebox  td.w1{ width:220px!important;}
.userbox .usercontent  .Consumebox  td.w2{ width:686px!important;}
.userbox .usercontent  .Consumebox  td.none{background: none;}
.userbox .usercontent  .Consumebox table.Consumelisttitle select.right{ margin:5px 6px 0 0;}


.userbox .usercontent  .Consumebox table.Consumelistbody{ width:698px; border:1px solid #D9D9D9;}
.userbox .usercontent  .Consumebox table.none{ border:none!important;}
.userbox .usercontent  .Consumebox table.Consumelistbody td{ background:url(../images/dian01.gif) repeat-x 0 bottom;  line-height:40px;padding-left:14px; text-align:left; width:122px;}
.userbox .usercontent  .Consumebox table.Consumelistbody th{ height:28px; line-height:28px;padding-left:14px; text-align:left; width:122px; background-color:#FDF3D0; border-bottom:1px solid #F9D050;}
.userbox .usercontent  .Consumebox table.Consumelistbody td a.link01{background:url(../images/linkico.gif) no-repeat  right  0; padding-right:20px; color:#7EA52E; font-weight:bold; text-decoration:underline;}
.userbox .usercontent  .Consumebox table.Consumelistbody td a.link01:hover{color:#CF2900; text-decoration: none; background:url(../images/linkicon.gif) no-repeat  right 0;}
.userbox .usercontent  .Consumebox table.Consumelistbody td.none{ background: none;}
.userbox .usercontent  .Consumebox table.Consumelistbody ul.nr{ margin:15px 0  ;   width:100%;}
.userbox .usercontent  .Consumebox table.Consumelistbody ul.nr li{ width:280px; float:left; display:inline; padding-left:20px; color:#676767; line-height:24px; height:24px;}
.userbox .usercontent  .Consumebox table.Consumelistbody ul.nr li strong{ color:#333;}


.userbox .usercontent .Consumebox ul.tag01{ margin:8px 0 ; background:url(../images/dian03.gif) repeat-x 0 bottom; width:100%;}
.userbox .usercontent .Consumebox ul.tag01 li{ width:48px; height:22px; line-height:22px; text-align:center;background:url(../images/tag.gif) no-repeat -51px -26px;color:#666666; float:left; display:inline; margin-right:2px; cursor: pointer;}
.userbox .usercontent .Consumebox ul.tag01 li.act{ background:url(../images/tag.gif) no-repeat 0 -26px;color:#fff; font-weight:bold;}


/*====================== 我要预约 ======================*/
.userbox .usercontent .yuyuebox .yuyuelistbg1{ width:698px; border:1px solid #478B38; background-color:#AFC966; height:1px; font-size:0; line-height:0; margin:0 0 1px;}
.userbox .usercontent .yuyuebox table.yuyuelisttitle{ width:700px; border:1px solid #D9D9D9; border-right:none;  line-height:33px;background:url(../images/titlebg01.jpg) repeat-x 0 0; margin:0 0 1px;}
.userbox .usercontent .yuyuebox table.yuyuelisttitle td{ font-size:14px; font-weight:bold; padding-left:14px; text-align:left; border-right:1px solid #D9D9D9;width:122px;}
.userbox .usercontent .yuyuebox table.yuyuelisttitle td .f12{font-weight: normal; }
.userbox .usercontent .yuyuebox .w1{ width:120px!important;}
.userbox .usercontent .yuyuebox .w2{ width:686px!important;}
.userbox .usercontent .yuyuebox .w3{ width:40px!important;}
.userbox .usercontent .yuyuebox td.none{background: none;}
.userbox .usercontent .yuyuebox table.yuyuelisttitle select.right{ margin:5px 6px 0 0;}


.userbox .usercontent .yuyuebox table.yuyuelistbody{ width:698px; border:1px solid #D9D9D9;}
.userbox .usercontent .yuyuebox table.none{ border:none!important;}
.userbox .usercontent .yuyuebox table.yuyuelistbody td{ background:url(../images/dian01.gif) repeat-x 0 bottom;  line-height:40px;padding-left:14px; text-align:left;}
.userbox .usercontent .yuyuebox table.yuyuelistbody td strong{ color:#000000;}
.userbox .usercontent .yuyuebox table.yuyuelistbody th{ height:28px; line-height:28px;padding-left:14px; text-align:left; width:67px; background-color:#FDF3D0; border-bottom:1px solid #F9D050;}
.userbox .usercontent .yuyuebox table.yuyuelistbody td a.link01{background:url(../images/linkico.gif) no-repeat  right  0; padding-right:20px; color:#7EA52E; font-weight:bold; text-decoration:underline;}
.userbox .usercontent .yuyuebox table.yuyuelistbody td a.link01:hover{color:#CF2900; text-decoration: none; background:url(../images/linkicon.gif) no-repeat  right 0;}
.userbox .usercontent .yuyuebox table.yuyuelistbody td.none{ background: none;}
.userbox .usercontent .yuyuebox table.yuyuelistbody ul.nr{ margin:15px 0  ;   width:100%;}
.userbox .usercontent .yuyuebox table.yuyuelistbody ul.nr li{ width:280px; float:left; display:inline; padding-left:20px; color:#676767; line-height:24px; height:24px;}
.userbox .usercontent .yuyuebox table.yuyuelistbody ul.nr li strong{ color:#333;}


.userbox .usercontent .yuyuebox ul.tag01{ margin:15px 0 ; width:100%;}
.userbox .usercontent .yuyuebox ul.tag01 li{ width:60px; height:22px; line-height:22px;text-align:center;float:left; display:inline; margin-right:2px; cursor: pointer;}
.userbox .usercontent .yuyuebox ul.tag01 li.act{ background: #72AC16;color:#fff; font-weight:bold;}


.userbox .usercontent .yuyuebox  .filter_title{ width:640px; background:url(../images/filter_title.jpg) no-repeat 0 0 ;  height:38px; line-height:32px; display:block; color:#435772;  padding-left:60px; font-weight:bold;}
.userbox .usercontent .yuyuebox  .filter_foot{ width:700px; background:url(../images/filter_foot.jpg) no-repeat 0 0 ;  height:12px; display:block;}
.userbox .usercontent .yuyuebox .filter{ width:698px; border:1px solid #C7D0E1; height:auto; border-bottom:none; border-top:none; padding-bottom:20px;}
.userbox .usercontent .yuyuebox .filter_li{ zoom:1; width:642px; margin:0px auto; padding:10px 0px 5px; overflow:hidden;background:url(../images/dian01.gif) repeat-x 0 bottom;}
.userbox .usercontent .yuyuebox .filter_li dt{ float:left; width:96px; text-align:right; font-weight:bold;padding:2px 3px 1px;}
.userbox .usercontent .yuyuebox .filter_li dd{ float:left; width:508px; padding-left:10px;}
.userbox .usercontent .yuyuebox .filter_li dd span,
.userbox .usercontent .yuyuebox .filter_li dd a{ display:inline-block; margin-right:12px; margin-bottom:6px; color:#057AD2; padding:2px 3px 1px;}
.userbox .usercontent .yuyuebox .filter_li dd span{ color:#000;}
.userbox .usercontent .yuyuebox .filter_li dd a:hover{ background-color:#057AD2; color:#fff; font-weight: normal; text-decoration:none;}
.userbox .usercontent .yuyuebox .filter_li dd a.act{ background-color:#057AD2; color:#fff; font-weight: bold; }

.userbox .usercontent .yuyuebox .filter_data1{ position:relative;}
.userbox .usercontent .yuyuebox .filter_data2{ position:relative; margin-bottom:6px; padding:5px 10px 2px; background:#D9EBFD; border:solid #9CCBFA 1px;}

.userbox .usercontent .yuyuebox .tabOrder {	height: 34px;
			text-align:left;
			display: block; 
			line-height:34px;
			width:100%;
			background-color:#FDFFF2;
			border:1px solid #ccc;
			margin:10px 0 0;}
.userbox .usercontent .yuyuebox .tabOrder .left{ padding-left:20px;}
.userbox .usercontent .yuyuebox  .tabOrder .right{ padding-right:10px; padding-top:6px; line-height:22px; }
.userbox .usercontent .yuyuebox  .tabOrder .right select { width:150px; vertical-align:middle; margin-right:10px;}
.userbox .usercontent .yuyuebox  .tabOrder .right a
		{
			
			display: inline;
			width:43px;
			height:19px;
			line-height:19px;
			float:left;
			cursor:hand;
			padding-left:5px;
			margin-right:3px;
			text-align: left;
			margin-top:2px;
		}

.userbox .usercontent .yuyuebox  .tabOrder a.up
		{
			background: url(../images/buttons1.gif) no-repeat -156px -85px;
		}
.userbox .usercontent .yuyuebox  .tabOrder a.drop
		{
			background: url(../images/buttons1.gif) no-repeat -210px -85px ;
		}
.userbox .usercontent .yuyuebox .tabOrder a.upon,
.userbox .usercontent .yuyuebox .tabOrder a.upon:hover,
.userbox .usercontent .yuyuebox .tabOrder a.up:hover
		{
			background: url(../images/buttons1.gif) no-repeat -156px -112px; text-decoration:none;color:#A9581A;
		}
.userbox .usercontent .yuyuebox .tabOrder a.dropon,
.userbox .usercontent .yuyuebox .tabOrder a.dropon:hover,
.userbox .usercontent .yuyuebox .tabOrder a.drop:hover
		{
			background: url(../images/buttons1.gif) no-repeat -210px -112px ;  text-decoration:none; color:#A9581A;
		}	


.userbox .usercontent .yuyuebox .l_cont li{ margin-bottom:10px; padding:18px 20px 14px; }
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo{ width:670px; display:block; margin-bottom:10px; color:#575757;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo .nl{ float:left; width:120px;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo .nr{ float:left; width:528px; padding:8px 0px 0px 20px;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo .nr .n1{ float:left; width:174px; padding-right:68px;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo .nr .n2{ float:left; width:158px;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo .nr .n3{ float:left; width:118px;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo .chr{ margin:0px 6px; color:#CCCCCC;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo h3{ clear:both;}
.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo h3 a:link,.userbox .usercontent .yuyuebox .l_cont li .l_sjinfo h3 a:visited{ font-size:14px; font-weight:bold; color:#057BD2;}
.userbox .usercontent .yuyuebox .l_cont li .l_addr{ margin-top:6px; line-height:18px;}
.userbox .usercontent .yuyuebox .l_cont li .l_loc{ margin-top:4px;}
.userbox .usercontent .yuyuebox .l_cont li  a{color:#057BD2;}

.userbox .usercontent .yuyuebox .l_cont li  .l_price{ margin-top:2px; margin-top:1px\9; line-height:20px;}
.userbox .usercontent .yuyuebox .l_cont li  .l_deal{  margin-top:3px; margin-top:7px\9;}
.userbox .usercontent .yuyuebox .l_cont li  .l_price span{ color:#FF1800;}
.userbox .usercontent .yuyuebox .l_cont li  .l_price strong{ font-family:Verdana; font-size:18px; font-weight:normal; color:#FF1800;}
.userbox .usercontent .yuyuebox .l_cont li  .rmb{ padding-right:2px; font-family:Arial; font-weight:bold; font-style:normal; font-size:12px; }
.userbox .usercontent .yuyuebox .l_cont li  .l_mark{ height:21px; height:26px\9; margin-top:7px; margin-top:2px\9;}
.userbox .usercontent .yuyuebox .l_cont li  .l_mark span{ float:left;}
.userbox .usercontent .yuyuebox .l_cont li  .l_mark a:link,.l_mark a:visited{ float:left; margin-left:5px; margin-top:-3px; margin-top:-1px\9; font-family:Georgia; font-size:18px; font-weight:bold; white-space:nowrap;}


.userbox .usercontent .yuyuebox .l_cont li .l_fwinfo{ width:660px; margin-bottom:8px; color:#575757; text-align:left; vertical-align:middle;}
.userbox .usercontent .yuyuebox .l_cont li .l_fwinfo .price{ font-family:Verdana;}
.userbox .usercontent .yuyuebox .l_cont li .l_fwinfo .price a:link,.l_fwinfo .price a:visited{ color:#FF1800;}
.userbox .usercontent .yuyuebox .l_cont li .l_fwinfo .red{ color:#FF1800;}
.userbox .usercontent .yuyuebox .l_cont li .l_fwinfo th{ height:20px; padding-top:1px\9; background:#F0F0F0; font-weight:normal; line-height:14px;}
.userbox .usercontent .yuyuebox .l_cont li .l_fwinfo td{ height:30px; padding-top:1px\9; border-bottom:dotted #CFCFCF 1px; line-height:16px;}









.intr_sj{ height:180px; width:880px; padding:20px 20px 0px;background: url(../images/dptopbg.jpg) no-repeat 0 0; margin:10px auto;}
.intr_sj .n1{ float:right;}
.intr_sj .n1 img{ border:solid #0B538E 2px;}
.intr_sj .n2{ float:left; width:700px; height:122px; color:#72D7ED; line-height:14px;}
.intr_sj .n2 p{ margin-bottom:7px;}
.intr_sj .n2 h1{ margin-bottom:20px; font-family:"微软雅黑"; font-weight:normal; font-size:34px; color:#FFFFFF; line-height:34px;}
.intr_sj .n2 a:link,.intr_sj .n2 a:visited{ color:#72D7ED; text-decoration:underline;}
.intr_sj .n2 a:hover{ color:#FFFFFF; text-decoration:underline;}
.intr_sj .n3{ float:left; height:35px; margin-top:23px;}
.intr_sj .n3 .act{  font-weight:bold; color:#000;}
.intr_tab{ float:left; display:inline-block; width:120px; height:35px; margin-right:3px; background-color:#FFFFFF; line-height:35px; text-align:center;}
.intr_tab,.intr_tab:link,.intr_tab:visited{ font-size:14px; color:#FFFFFF; text-decoration:none;}
.intr_tab:hover{ text-decoration:none;}



/*商家左侧*/
.intr_left{ float:left; width:660px; line-height:16px; margin-left:30px; margin-left:30px;}

.intr_title{ padding-left:24px; margin-top:38px; font-size:18px; line-height:34px; font-weight:bold;background:url(../images/dian01.gif) repeat-x 0 bottom;}
.intr_title span{ font-size:12px; font-weight:normal;}
.intr_title a{ color:#057BD2; font-size:12px; font-weight:normal;}
.serve_list{ width:100%; margin-top:10px; color:#575757;}
.serve_list .tlist td{ height:64px; border-bottom:solid #f0f0f0 1px;}
.serve_list .n1{ width:310px; padding-left:24px;}
.serve_list .n1 a{ font-size:14px; font-weight:bold;color:#057BD2;}
.serve_list .n2{ width:245px;}
.serve_list .n3{ width:165px;}
.serve_list .n3 .intr_c a{ color:#057BD2}

.serve_order_none{ padding:17px 0px 17px 23px; background:#FFFCF6; border:solid #EED6A2 1px;}
.serve_order_none h2{ color:#db0000;}
.serve_order_none dt{ margin-top:12px;}
.serve_order_none p{ margin-top:6px;}
.mt_fw{ margin-top:20px;}.mt_sj{ margin-top:10px;}
.intr_p{ margin-bottom:5px; margin-bottom:10px\9;}
.intr_p span{ color:#FF1800;}
.intr_p strong{ font-family:Verdana; font-size:18px; font-weight:normal;}
.intr_m{ zoom:1; margin:2px 0px 3px; margin:3px 0px 6px\9; overflow:hidden;}
.intr_m span{ float:left;}
.intr_m a:link,.intr_m a:visited{ float:left; margin-left:5px; margin-top:-3px; margin-top:-1px\9; font-family:Georgia;color:#057BD2; font-size:18px; font-weight:bold; line-height:18px; white-space:nowrap;}

.intr_sj_txEdit{ padding-left:24px; margin-top:24px; color:#575757; line-height:24px; width:600px; overflow:hidden;}
.intr_sj_txEdit p{ margin-bottom:24px;}
.intr_sj_txEdit ol{ margin: 1.12em 0;margin-left: 40px;list-style-type: decimal;margin-top: 0; margin-bottom: 0;page-break-before: avoid;}
.intr_sj_txEdit li{ display: list-item;list-style-type: decimal;}
/*商家右侧*/
.intr_right{ float:right; width:240px;margin-right:30px;}
.map_sj{ width:238px; margin:64px 0px 10px; border:solid #dcdcdc 1px;}
.map_sj .n2{ height:21px; padding-top:7px; line-height:16px; text-align:center;}
.map_sj .n2 a{ display:inline-block; margin:0px 8px;color:#057BD2;}
.relate_sj{ width:238px; margin-bottom:10px; border:solid #BFE3FF 1px; line-height:16px; background-color:#F8FCFF;}
.relate_sj h2{ padding:0px 10px 0px 15px; height:34px; line-height:34px; background-color:#0D94D5}
.relate_sj h2 span{ float:left; font-size:14px; font-weight:bold; color:#fff;}
.relate_sj h2 a{ float:right; margin-top:2px; font-size:12px;color:#fff;font-weight: normal; }
.relate_sj ul{ padding-left:12px; margin-top:12px;}
.relate_sj ul li{ margin-bottom:12px;background: url(../images/ico.gif) no-repeat -5px -565px; padding-left:14px;}
.relate_sj ul .n1{ float:left; color:#CFCFCF;}
.relate_sj ul .n2{ float:left; width:200px;}
.relate_sj_none{ padding:12px 0px 6px 15px; color:#575757;}

/*====================== footer ======================*/
.footerwrap
	{
	background:url(../images/footbg1.jpg) repeat-x center  bottom;
	margin:0 auto;
	width:100%;
	height: 280px;
	}
.footerwrap1{
	background:url(../images/footbg2.jpg) no-repeat center  bottom;
	margin:0 auto;
	width:100%;
	height: 280px;
	}
.footerwrap1 .footbox01 { width:957px; margin:7px auto 0; border:1px solid #A2A2A2; border-right:none; padding:0 0 0 1px;}
.footerwrap1 .footbox01 dl{  float:left; width:319px; }
.footerwrap1 .footbox01 dl dt{ font-size:14px; font-family:"微软雅黑"; font-weight:bold; color:#000000; background:url(../images/footbg01.jpg) repeat-x 0 0;  height:39px; line-height:39px; padding-left:12px;  border-right:1px solid #A2A2A2;}
.footerwrap1 .footbox01 dl dt a{ font-size:14px; font-family:"微软雅黑"; font-weight:bold; color:#000000;}
.footerwrap1 .footbox01 dl dd { height:26px; line-height:26px; background:url(../images/dian02.gif) repeat-x 0  bottom #F5F5F5;padding-left:12px;  border-right:1px solid #CACACA;}
.footerwrap1 .footbox01 dl dd .number{background:url(../images/ico.gif) no-repeat -5px  -48px; width:10px; height:10px; font-size:10px; line-height:10px; text-align:center; color:#FFFFFF;float:left; margin:7px 5px  0 0; }
.footerwrap1 .footbox01 dl dd a{color:#4B4B4B; float:left;}
.footerwrap1 .footbox01 dl dd a:hover{ color:#000;}
.footerwrap1 .footbox02 { width:960px; margin:40px auto 0; color:#FFFFFF; text-align:center;}